<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
   
   <bean id="user" class="springStudy.beans.UserBean">
   	<property name="name" value="小红"></property>
   	<property name="pwd" value="123456"></property>
   </bean>
   <bean id="userTwo" class="springStudy.beans.UserBean">
   <constructor-arg index="0" value="1"></constructor-arg>
   <constructor-arg index="1" value="周传雄"></constructor-arg>
   <constructor-arg index="2" value="856348963"></constructor-arg>
   </bean>
   
   <bean id="service" class="springStudy.service.impl.UserBeanServiceImpl">
   <property name="dao" ref="UserBeanDaoImpl"></property>
   </bean>
   
   <bean id="UserBeanDaoImpl" class="springStudy.dao.impl.UserBeanDaoImpl"></bean>
   
   
           
 </beans>